.jumbotron {
    background-image: url("assets/backgrounds/hero.jpg");
    margin-bottom:0px;
    height: 800px;
    
}
#banner{
    text-align: center;
}

#logo {
    margin: auto;
    padding-top: 1cm;
    padding-left: 1cm;
    
}

#shop {
    margin: auto;
    padding-top: 1cm;
    padding-right: 0.8cm;
}
#main{
    padding-bottom: 100px;
    padding-left:200px;
    padding-right:200px;
    padding-top: 50px;
}


#topmenu {
    padding-top: 1cm;
    color: white;
}
#slogan{
    padding-top: 1cm;
    color: white;
    height: 200px
    
}
#slogan2 {
    height:200px;
    color:white;
}
#click {
    height: 200px;
}
#selectbar {
    background-color:#c6bfa5;
    padding: 50px;
}
#aboutus {
    background-image: url("assets/backgrounds/about.jpg");
    height:402px;
}
#promo {
    background-color: #515050;
    height:80px;
    text-align: justify;
    color: whitesmoke;
}
#footer{
    background-color:  #3E3A3A ;
    height:400px;
    color:white;
}
.grid-social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.grid-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.span-col-4{grid-column: span 4 / auto;}
.panel{
    text-align: center;
}

.btn{
    background-color: #661a00;
    padding: 20px;
    border:none;
}
.footer-left{
    padding-top: 20px;
}

.footer-center{
    padding-top: 20px;
}

.footer-right{
    padding-top: 50px;
}
#footer{
    padding-right:100px ;
    padding-left: 100px;
}
#twitter {
    display:float;
    float: right;

}
#aboutus {
    text-align: center;
    border: solid; 
    background-color:#c6bfa5;
}